<div class="company-edit">
  <h1>{{title}}</h1>

  <p *ngIf="this.id && ! company"><em>Loading...</em></p>

  <div class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="companyId"> companyId:</label>
      <br />
      <input type="text" id="companyId"
             formControlName="companyId" required
             placeholder="companyId..."
             class="form-control" />

    </div>

    <div class="form-group">
      <label for="name">Employee name:</label>
      <br />
      <input type="text" id="name"
             formControlName="name" required
             placeholder="Employee name..."
             class="form-control" />
      <div *ngIf="form.get('name').invalid &&
           (form.get('name').dirty || form.get('name').touched)" class="invalid-feedback">
        <div *ngIf="form.get('name').errors?.required">
          Name is required.
        </div>
     
      </div>
    </div>

    <div class="form-group">
      <label for="legalForm">Employee legalForm:</label>
      <br />
      <input type="text" id="legalForm"
             formControlName="legalForm" required
             placeholder="legalForm..."
             class="form-control" />
    </div>


      <div class="form-group commands">
        <button *ngIf="id" type="submit"
                (click)="onSubmit()"
                [disabled]="form.invalid"
                class="btn btn-success">
          Save
        </button>

        <button *ngIf="!id" type="submit"
                (click)="onSubmit()"
                [disabled]="form.invalid"
                class="btn btn-success">

          Create

        </button>

        <button type="button"
                [routerLink]="['/employees']"
                class="btn">
          Cancel
          <br />

        </button>
      </div>
    </div>
  </div>
